
.header
{
 color: aquamarine;
}



/** Tabs **/
/*
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;

}*/

/* Style the buttons that are used to open the tab content 
.tab button {
  /*background-color: inherit;*/
  /*float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 100px;
  transition: 0.3s;
  text-align: center;
}*/

/* Change background color of buttons on hover 
.tab button:hover {
  background-color: #ddd;
}*/

/* Create an active/current tablink class 
.tab button:active {
  background-color: #ccc;
}*/

/* Style the tab content 
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
}*/

  /*//////////////////////////////////////////////////

  body {
    font-family: 'Lato', sans-serif;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }*/
  
/*chart style 

.chart{
  color: antiquewhite;
  border: solid thin silver;
  width: 20px;
  height: 80px;
  padding: 60px;
  }*/

/* Table Search styles
* {
  box-sizing: border-box;
}*/
/*
#myInput {
  background-image: url('images.png');
  background-position: 10px 10px;
  background-size: 35px ;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}*/
/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}




